In [67]:
import streamlit as st
from streamlit_option_menu import option_menu
import pandas as pd
import psycopg2
import plotly.express as px
import json
import requests

top charts

In [68]:


mydb = psycopg2.connect(host="localhost",
                        user='postgres',
                        port="5432",
                        database="phonepe_data",
                        password="admin")
cursor = mydb.cursor()

# aggre_trans
cursor.execute("SELECT  * FROM  aggregated_transaction")
mydb.commit
table1=cursor.fetchall()
aggre_trans=pd.DataFrame(table1 ,columns=("State","Year","Quarter",	"Transaction_type",	"Transaction_count"	,"Transaction_amount"))


# aggre_user
cursor.execute("SELECT  * FROM  aggregated_user")
mydb.commit
table1=cursor.fetchall()
aggre_user=pd.DataFrame(table1 ,columns=("State","Year","Quarter",	"Brands",	"Count",	"Percentage"))


# map_trans
cursor.execute("SELECT  * FROM  map_transaction")
mydb.commit
table1=cursor.fetchall()
map_trans=pd.DataFrame(table1 ,columns=("State","Year","Quarter","District","Transaction_count","Transaction_amount"))

# map_user
cursor.execute("SELECT  * FROM map_user")
mydb.commit
table1=cursor.fetchall()
map_user=pd.DataFrame(table1 ,columns=("State","Year","Quarter","District","RegisteredUser","AppOpens"))

# top_trans
cursor.execute("SELECT  * FROM top_transaction")
mydb.commit
table1=cursor.fetchall()
top_trans=pd.DataFrame(table1 ,columns=("State","Year","Quarter",	"Pincode",	"Transaction_count",	"Transaction_amount"))

# top_user
cursor.execute("SELECT  * FROM top_user")
mydb.commit
table1=cursor.fetchall()
top_user=pd.DataFrame(table1 ,columns=("State",	"Year","Quarter",	"Pincode",	"RegisteredUsers"))

In [69]:
def top_chart_transaction_amount(table_name):
    import psycopg2
    import pandas as pd
    import plotly.express as px

    mydb = psycopg2.connect(host="localhost",
                            user='postgres',
                            port="5432",
                            database="phonepe_data",
                            password="admin")
    cursor = mydb.cursor()

    query1 = f'''select state, sum(transaction_amount) AS transaction_amount
                from {table_name}
                group by state
                order by transaction_amount desc
                limit 10;'''

    cursor.execute(query1)
    table = cursor.fetchall()
    mydb.commit()
    df1 = pd.DataFrame(table, columns=["States", "Transaction Amount"])

    fig_amount = px.bar(df1, x='States', y="Transaction Amount", title="Transaction Amount", hover_name="States",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height=650, width=600)
    fig_amount.show()

    query2 = f'''select state, sum(transaction_amount) AS transaction_amount
                from {table_name}
                group by state
                order by transaction_amount 
                limit 10;'''

    cursor.execute(query2)
    table2 = cursor.fetchall()
    mydb.commit()
    df_2 = pd.DataFrame(table2, columns=["States", "Transaction Amount"])

    fig_amount_2 = px.bar(df_2, x='States', y="Transaction Amount", title="Transaction Amount", hover_name="States",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height=650, width=600)
    fig_amount_2.show()

    query3 = f'''
                select state, avg(transaction_amount ) AS avg_transaction_amount
                from {table_name}
                group by state
                order by avg_transaction_amount;'''

    cursor.execute(query3)
    table3 = cursor.fetchall()
    mydb.commit()
    df_3 = pd.DataFrame(table3, columns=["States", "Average Transaction Amount"])

    fig_amount_3 = px.bar(df_3, x='Average Transaction Amount', y="States", title="Average Transaction Amount", 
                        hover_name="States", orientation="h",
                        color_discrete_sequence=px.colors.sequential.Cividis, height=650, width=600)
    fig_amount_3.show()

In [70]:
def top_chart_transaction_count(table_name):
    import psycopg2
    import pandas as pd
    import plotly.express as px

    mydb = psycopg2.connect(host="localhost",
                            user='postgres',
                            port="5432",
                            database="phonepe_data",
                            password="admin")
    cursor = mydb.cursor()

    query1 = f'''select state, sum(transaction_count) AS transaction_count
                from {table_name}
                group by state
                order by transaction_count desc
                limit 10;'''

    cursor.execute(query1)
    table = cursor.fetchall()
    mydb.commit()
    df1 = pd.DataFrame(table, columns=["States", "Transaction count"])

    fig_amount = px.bar(df1, x='States', y="Transaction count", title="Transaction count", hover_name="States",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height=650, width=600)
    fig_amount.show()

    query2 = f'''select state, sum(transaction_count) AS transaction_count
                from {table_name}
                group by state
                order by transaction_count
                limit 10;'''

    cursor.execute(query2)
    table2 = cursor.fetchall()
    mydb.commit()
    df_2 = pd.DataFrame(table2, columns=["States", "Transaction count"])

    fig_amount_2 = px.bar(df_2, x='States', y="Transaction count", title="Transaction count", hover_name="States",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height=650, width=600)
    fig_amount_2.show()

    query3 = f'''
                select state, avg(transaction_count ) AS avg_transaction_count
                from {table_name}
                group by state
                order by avg_transaction_count;'''

    cursor.execute(query3)
    table3 = cursor.fetchall()
    mydb.commit()
    df_3 = pd.DataFrame(table3, columns=["States", "Average Transaction count"])

    fig_amount_3 = px.bar(df_3, x='Average Transaction count', y="States", title="Average Transaction count", 
                        hover_name="States", orientation="h",
                        color_discrete_sequence=px.colors.sequential.Cividis, height=650, width=600)
    fig_amount_3.show()

In [71]:
def top_chart_transaction_amount1(table_name):
    import psycopg2
    import pandas as pd
    import plotly.express as px

    mydb = psycopg2.connect(host="localhost",
                            user='postgres',
                            port="5432",
                            database="phonepe_data",
                            password="admin")
    cursor = mydb.cursor()

    query1 = f'''select state, sum(amount) AS transaction_amount
                from {table_name}
                group by state
                order by transaction_amount desc
                limit 10;'''

    cursor.execute(query1)
    table = cursor.fetchall()
    mydb.commit()
    df1 = pd.DataFrame(table, columns=["States", "Transaction Amount"])

    fig_amount = px.bar(df1, x='States', y="Transaction Amount", title="Transaction Amount", hover_name="States",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height=650, width=600)
    fig_amount.show()

    query2 = f'''select state, sum(amount) AS transaction_amount
                from {table_name}
                group by state
                order by transaction_amount 
                limit 10;'''

    cursor.execute(query2)
    table2 = cursor.fetchall()
    mydb.commit()
    df_2 = pd.DataFrame(table2, columns=["States", "Transaction Amount"])

    fig_amount_2 = px.bar(df_2, x='States', y="Transaction Amount", title="Transaction Amount", hover_name="States",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height=650, width=600)
    fig_amount_2.show()

    query3 = f'''
                select state, avg(amount ) AS avg_transaction_amount
                from {table_name}
                group by state
                order by avg_transaction_amount;'''

    cursor.execute(query3)
    table3 = cursor.fetchall()
    mydb.commit()
    df_3 = pd.DataFrame(table3, columns=["States", "Average Transaction Amount"])

    fig_amount_3 = px.bar(df_3, x='Average Transaction Amount', y="States", title="Average Transaction Amount", 
                        hover_name="States", orientation="h",
                        color_discrete_sequence=px.colors.sequential.Cividis, height=650, width=600)
    fig_amount_3.show()

In [72]:
def top_chart_transaction_count1(table_name):
    import psycopg2
    import pandas as pd
    import plotly.express as px

    mydb = psycopg2.connect(host="localhost",
                            user='postgres',
                            port="5432",
                            database="phonepe_data",
                            password="admin")
    cursor = mydb.cursor()

    query1 = f'''select state, sum(count) AS transaction_count
                from {table_name}
                group by state
                order by transaction_count desc
                limit 10;'''

    cursor.execute(query1)
    table = cursor.fetchall()
    mydb.commit()
    df1 = pd.DataFrame(table, columns=["States", "Transaction count"])

    fig_amount = px.bar(df1, x='States', y="Transaction count", title="Transaction count", hover_name="States",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height=650, width=600)
    fig_amount.show()

    query2 = f'''select state, sum(count) AS transaction_count
                from {table_name}
                group by state
                order by transaction_count
                limit 10;'''

    cursor.execute(query2)
    table2 = cursor.fetchall()
    mydb.commit()
    df_2 = pd.DataFrame(table2, columns=["States", "Transaction count"])

    fig_amount_2 = px.bar(df_2, x='States', y="Transaction count", title="Transaction count", hover_name="States",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height=650, width=600)
    fig_amount_2.show()

    query3 = f'''
                select state, avg(count ) AS avg_transaction_count
                from {table_name}
                group by state
                order by avg_transaction_count;'''

    cursor.execute(query3)
    table3 = cursor.fetchall()
    mydb.commit()
    df_3 = pd.DataFrame(table3, columns=["States", "Average Transaction count"])

    fig_amount_3 = px.bar(df_3, x='Average Transaction count', y="States", title="Average Transaction count", 
                        hover_name="States", orientation="h",
                        color_discrete_sequence=px.colors.sequential.Cividis, height=650, width=600)
    fig_amount_3.show()

In [73]:
def top_chart_registered_users1(table_name, state):
    import psycopg2
    import pandas as pd
    import plotly.express as px

    mydb = psycopg2.connect(host="localhost",
                            user='postgres',
                            port="5432",
                            database="phonepe_data",
                            password="admin")
    cursor = mydb.cursor()

    query1 = f'''SELECT district, SUM(registereduser) AS registered_user FROM {table_name}
                WHERE state = '{state}'
                GROUP BY district
                ORDER BY registered_user DESC
                LIMIT 10;'''

    cursor.execute(query1)
    table1 = cursor.fetchall()
    df1 = pd.DataFrame(table1, columns=["districts", "registereduser"])

    fig_amount = px.bar(df1, x='districts', y="registereduser", title="Top 10 Registered Users",
                        hover_name="districts", color_discrete_sequence=px.colors.sequential.Aggrnyl_r,
                        height=650, width=600)
    fig_amount.show()

    query2 = f'''SELECT district, SUM(registereduser) AS registered_user FROM {table_name}
                WHERE state = '{state}'
                GROUP BY district
                ORDER BY registered_user
                LIMIT 10;'''

    cursor.execute(query2)
    table2 = cursor.fetchall()
    df2 = pd.DataFrame(table2, columns=["districts", "registereduser"])

    fig_amount_2 = px.bar(df2, x='districts', y="registereduser", title="Bottom 10 Registered Users",
                          hover_name="districts", color_discrete_sequence=px.colors.sequential.Aggrnyl_r,
                          height=650, width=600)
    fig_amount_2.show()

    query3 = f'''SELECT district, AVG(registereduser) AS registered_user FROM {table_name}
                WHERE state = '{state}'
                GROUP BY district
                ORDER BY registered_user DESC
                LIMIT 10;'''

    cursor.execute(query3)
    table3 = cursor.fetchall()
    df3 = pd.DataFrame(table3, columns=["districts", "registereduser"])

    fig_amount_3 = px.bar(df3, x='districts', y="registereduser", title="Average Registered Users",
                          hover_name="districts", color_discrete_sequence=px.colors.sequential.Aggrnyl_r,
                          orientation="h", height=650, width=600)
    fig_amount_3.show()

aggregated transaction

In [74]:
import requests
import json
import plotly.express as px

def transaction_amount_count_Y(df,Year ):
    tacy = df[df["Year"] == Year]
    tacy.reset_index(drop=True, inplace=True)
    tacyg = tacy.groupby("State")[["Transaction_count", "Transaction_amount"]].sum()
    tacyg.reset_index(inplace=True)

    fig_amount = px.bar(tacyg, x='State', y="Transaction_amount", title=f"{Year} TRANSACTION AMOUNT",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height=650, width=600)
    fig_amount.show()

    fig_count = px.bar(tacyg, x='State', y="Transaction_count", title=f"{Year}   TRANSACTION COUNT",
                       color_discrete_sequence=px.colors.sequential.Agsunset, height=650, width=600)
    fig_count.show()

    url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"

    response = requests.get(url)
    response
    states_name = []
    data1 = json.loads(response.content) 
    for feature in data1["features"]:
        states_name.append(feature["properties"]["ST_NM"])
    states_name.sort()

    fig_india_1 = px.choropleth(tacyg, geojson=data1, locations="State", featureidkey="properties.ST_NM",
                                color="Transaction_amount", color_continuous_scale="viridis",
                                range_color=(tacyg["Transaction_amount"].min(), tacyg["Transaction_amount"].max()),
                                hover_name="State", title=f"{Year} QUARTER TRANSACTION COUNT", fitbounds="locations",
                                height=600, width=600)

    fig_india_1.update_geos(visible=False)
    fig_india_1.show()  
    
    fig_india_2 = px.choropleth(tacyg, geojson=data1, locations="State", featureidkey="properties.ST_NM",
                                color="Transaction_count", color_continuous_scale="viridis",
                                range_color=(tacyg["Transaction_count"].min(), tacyg["Transaction_count"].max()),
                                hover_name="State", title=f"{Year} QUARTER TRANSACTION COUNT", fitbounds="locations",
                                height=600, width=600)

    fig_india_2.update_geos(visible=False)
    fig_india_2.show()  
    return tacy

In [75]:
import requests
import json
import plotly.express as px

def transaction_amount_count_Y_Q(df, Quarter):
    tacy = df[df["Quarter"] == Quarter]
    tacy.reset_index(drop=True, inplace=True)
    tacyg = tacy.groupby("State")[["Transaction_count", "Transaction_amount"]].sum()
    tacyg.reset_index(inplace=True)

    fig_amount = px.bar(tacyg, x='State', y="Transaction_amount", title=f"{tacy['Year'].min()} YEAR  {Quarter}QUARTER TRANSACTION AMOUNT",
                        color_discrete_sequence=px.colors.sequential.Aggrnyl_r, height=650, width=600)
    fig_amount.show()

    fig_count = px.bar(tacyg, x='State', y="Transaction_count", title=f"{tacy['Year'].min()} YEAR  {Quarter}QUARTER TRANSACTION AMOUNT",
                       color_discrete_sequence=px.colors.sequential.Agsunset, height=650, width=600)
    fig_count.show()

    url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"

    response = requests.get(url)
    response
    states_name = []
    data1 = json.loads(response.content) 
    for feature in data1["features"]:
        states_name.append(feature["properties"]["ST_NM"])
    states_name.sort()

    fig_india_1 = px.choropleth(tacyg, geojson=data1, locations="State", featureidkey="properties.ST_NM",
                                color="Transaction_amount", color_continuous_scale="viridis",
                                range_color=(tacyg["Transaction_amount"].min(), tacyg["Transaction_amount"].max()),
                                hover_name="State",title=f"{tacy['Year'].min()} YEAR  {Quarter}QUARTER TRANSACTION AMOUNT", fitbounds="locations",
                                height=600, width=600)

    fig_india_1.update_geos(visible=False)
    fig_india_1.show()  
    
    fig_india_2 = px.choropleth(tacyg, geojson=data1, locations="State", featureidkey="properties.ST_NM",
                                color="Transaction_count", color_continuous_scale="viridis",
                                range_color=(tacyg["Transaction_count"].min(), tacyg["Transaction_count"].max()),
                                hover_name="State", title=f"{tacy['Year'].min()} YEAR  {Quarter}QUARTER TRANSACTION AMOUNT", fitbounds="locations",
                                height=600, width=600)

    fig_india_2.update_geos(visible=False)
    fig_india_2.show()  
    return tacy

In [76]:
def aggre_trans_type(df, state):


    tacy = df[df["State"] == state]
    tacy.reset_index(drop=True, inplace=True)
    tacyg = tacy.groupby("Transaction_type")[["Transaction_count", "Transaction_amount"]].sum()
    tacyg.reset_index(inplace=True)

    fig_pi_1 = px.pie(data_frame=tacyg, names="Transaction_type", values="Transaction_amount", width=600, title=f"{state.upper()} TRANSACTION AMOUNT", hole=0.5, color_discrete_sequence=px.colors.qualitative.Pastel)
    fig_pi_1.show()


    fig_pi_2 = px.pie(data_frame=tacyg, names="Transaction_type", values="Transaction_count", width=600, title=f"{state.upper()} TRANSACTION COUNT", hole=0.5, color_discrete_sequence=px.colors.qualitative.Pastel)
    fig_pi_2.show()

In [ ]:


tac_y=transaction_amount_count_Y(aggre_trans, 2021)

In [ ]:
aggre_trans_type(tac_y, "Tamil Nadu")

In [ ]:
agg_trans_tac_c_y=transaction_amount_count_Y_Q(tac_y, 3)

In [ ]:

aggre_trans_type( agg_trans_tac_c_y, "Tamil Nadu" )

aggregate user

In [81]:
def aggre_user_plot_1(df, year):

    aguy = df[df['Year'] == year]
    aguy.reset_index(drop=True, inplace=True)
    
    
    aguyg = pd.DataFrame(aguy.groupby("Brands")["Count"].sum())
    aguyg.reset_index(inplace=True)
    

    fig_ba_1 = px.bar(aguyg, x="Brands", y="Count", title="BRANDS AND TRANSACTION COUNT", 
                      width=1000, color_discrete_sequence=px.colors.sequential.Agsunset_r, 
                      hover_name="Brands")
    

    fig_ba_1.show()
    return aguy

In [82]:
def aggre_user_plot_2(df, quarter):
    aguyq =df[df['Quarter']== quarter]
    aguyq.reset_index(drop=True,inplace=True)
    aguyqg=pd.DataFrame(aguyq.groupby("Brands")[	"Count"].sum())
    aguyqg.reset_index(inplace=True)
    fig_ba_1 = px.bar(aguyqg,x="Brands",y= "Count" ,title= f"{quarter} QUARTER, BRANDS AND TRANSACTION COUNT",width=1000,color_discrete_sequence=px.colors.sequential.Agsunset_r,hover_name="Brands")

    fig_ba_1.show()
    return aguyq

In [83]:
def aggre_year_plot_3(df, state):
    auyqs = df[df["State"] == state]
    auyqs.reset_index(drop=True, inplace=True)
    fig_line_1 = px.line(auyqs, x="Brands", y="Count", hover_data="Percentage", title="BRANDS, TRANSACTION COUNT, PERCENTAGE", width=1000, markers=True)
    fig_line_1.show()

In [ ]:
aggre_user_y = aggre_user_plot_1(aggre_user, 2018)

In [ ]:
aggre_user_Y_Q=aggre_user_plot_2(aggre_user_y,2)

map transaction

In [86]:
def map_trans_dis(df, state):


    tacy = df[df["State"] == state]
    tacy.reset_index(drop=True, inplace=True)
    tacyg = tacy.groupby("District")[["Transaction_count", "Transaction_amount"]].sum()
    tacyg.reset_index(inplace=True)

    fig_bar_1 = px.bar(tacyg, x="Transaction_amount", y="District", orientation="h", title=f"{state.upper()}   DISTRICT AND TRANSACTION AMOUNT", color_discrete_sequence=px.colors.qualitative.Pastel)
    fig_bar_1.show()

    fig_bar_1 = px.bar(tacyg, x="Transaction_count", y="District", orientation="h", title=f"{state.upper()}   DISTRICT AND TRANSACTION COUNT", color_discrete_sequence=px.colors.qualitative.Pastel)
    fig_bar_1.show()

In [ ]:
map_trans_tac_y=transaction_amount_count_Y(map_trans, 2021)

In [ ]:
map_trans_dis(map_trans_tac_y, "West Bengal")

In [ ]:
map_trans_tac_c_y=transaction_amount_count_Y_Q(map_trans_tac_y, 3)

In [ ]:
map_trans_dis(map_trans_tac_c_y, "West Bengal")

map use

In [91]:
map_user

,State,Year,Quarter,District,RegisteredUser,AppOpens
0,Andaman & Nicobar,2018,1,north and middle andaman district,632,0
1,Andaman & Nicobar,2018,1,south andaman district,5846,0
2,Andaman & Nicobar,2018,1,nicobars district,262,0
3,Andaman & Nicobar,2018,2,north and middle andaman district,911,0
4,Andaman & Nicobar,2018,2,south andaman district,8143,0
...,...,...,...,...,...,...
263515,West Bengal,2023,4,nadia district,1603527,67224546
263516,West Bengal,2023,4,birbhum district,1013025,52281841
263517,West Bengal,2023,4,purba medinipur district,1589203,69991821
263518,West Bengal,2023,4,maldah district,1134600,88292475
263519,West Bengal,2023,4,darjiling district,660231,39079247

In [92]:
def map_user_plot_1(df , year):
    muy = df[df['Year'] == year]
    muy.reset_index(drop=True, inplace=True)



    muyg = muy.groupby("State")[["RegisteredUser","AppOpens"]].sum()
    muyg.reset_index(inplace=True)
    fig_line_1 = px.line(muyg, x="State", y=["RegisteredUser","AppOpens"], title=f"{year}  REGISTERED USERS APPOPENS", width=1000, markers=True, color_discrete_sequence=px.colors.qualitative.Set1)
    fig_line_1.show()
    return muy

In [93]:
def map_user_plot_2(df ,quarter):
    muyq = df[df['Quarter'] == quarter]
    muyq.reset_index(drop=True, inplace=True)



    muygq = muyq.groupby("State")[["RegisteredUser","AppOpens"]].sum()
    muygq.reset_index(inplace=True)
    fig_line_1 = px.line(muygq, x="State", y=["RegisteredUser","AppOpens"], title=f"{df['Year'].min()}  {quarter}  REGISTERED USERS APPOPENS", width=1000, markers=True, color_discrete_sequence=px.colors.sequential.Rainbow_r)
    fig_line_1.show()
    return muyq

In [94]:
def map_user_plot_3(df,states):
    muyqs =df[df['State']== states]
    muyqs.reset_index(drop=True,inplace=True)

    fig_map_user_bar_1 =px.bar(muyqs,x="RegisteredUser",y="District",orientation="h",title="REGISTERED USER",height=800,width=700,color_discrete_sequence=px.colors.sequential.algae)
    fig_map_user_bar_1.show()

    fig_map_user_bar_2 =px.bar(muyqs,x="AppOpens",y="District",orientation="h",title="APP OPENS USER",height=800,width=700,color_discrete_sequence=px.colors.sequential.algae)
    fig_map_user_bar_2.show()

In [ ]:
map_user_y=map_user_plot_1(map_user , 2020)

In [ ]:
map_user_y_q=map_user_plot_2(map_user ,2)

In [ ]:
map_user_plot_3(map_user_y_q,"Andaman & Nicobar")

top trans

In [98]:
def top_trans_plot_1(df,state):
    tiy = df[df['State'] == state]
    tiy.reset_index(drop=True, inplace=True)


    fig_top_trans_bar_1 =px.bar(tiy,x="Quarter",y="Transaction_amount",hover_data="Pincode",title="TRANSACTION AMOUNT",height=800,color_discrete_sequence=px.colors.sequential.algae)
    fig_top_trans_bar_1.show()
    fig_top_trans_bar_1 =px.bar(tiy,x="Quarter",y="Transaction_count",hover_data="Pincode",title="TRANSACTION COUNT",height=800,color_discrete_sequence=px.colors.sequential.algae)
    fig_top_trans_bar_1.show()

In [ ]:
top_trans_tac_y=transaction_amount_count_Y(top_trans, 2021)

In [ ]:
top_trans_plot_1(top_trans_tac_y,"Andaman & Nicobar")

In [ ]:
top_trans_tac_c_y=transaction_amount_count_Y_Q(top_trans_tac_y, 3)

top user

In [102]:
def top_user_plot_1(df,year):

    tuy = df[df['Year'] == year]
    tuy.reset_index(drop=True, inplace=True)


    tuyg = pd.DataFrame(tuy.groupby(["State", "Quarter"])["RegisteredUsers"].sum())
    tuyg.reset_index(inplace=True)

    
    
    
    fig_top_plot_1  =px.area(tuyg,x="State", y="RegisteredUsers",hover_name="State",color="Quarter",title=f"{year} REGISTERED USERS",height=800,color_discrete_sequence=px.colors.sequential.ice_r)
    fig_top_plot_1 .show()
    
    return tuy

In [ ]:
top_user_y = top_user_plot_1(top_user, 2021)

In [104]:

def top_user_plot_2(df , state):
    # Filter data for West Bengal
    tuys = df[df['State'] ==  state]
    tuys.reset_index(drop=True, inplace=True)

    # Create the bar plot
    fig_top_pot_2 = px.bar(tuys, x="Quarter", y="RegisteredUsers", title="REGISTERED USERS, PINCODES, QUARTER",
                        width=1000, height=800, color="RegisteredUsers", hover_data=["Pincode"],
                        color_continuous_scale=px.colors.sequential.Magenta)

    # S
    fig_top_pot_2.show()

In [ ]:
top_user_plot_2(top_user_y,"West Bengal")